@font-face {
  font-family: 'UbuntuLight';
  src: url('../fonts/UbuntuLight/UbuntuLight.eot');
  src: url('../fonts/UbuntuLight/UbuntuLight.eot?#iefix') format('embedded-opentype'), url('../fonts/UbuntuLight/UbuntuLight.woff') format('woff'), url('../fonts/UbuntuLight/UbuntuLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/UbuntuRegular/UbuntuRegular.eot');
  src: url('../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/UbuntuRegular/UbuntuRegular.woff') format('woff'), url('../fonts/UbuntuRegular/UbuntuRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 1087px;
}
.page-header {
  background: linear-gradient(to bottom, #ffffff 90px, #e0f0fe 90px, #ffffff);
}
.page-header__banner {
  min-height: 90px;
  background: #f1f1f1;
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
}
.header-content {
  max-width: 1087px;
  margin: 0 auto;
}
.header-content__link {
  display: inline-block;
  float: left;
  height: 15px;
  margin: 29px 45px 25px 46px;
  border-bottom: 1px dashed;
  color: #333;
  text-decoration: none;
}
.header-content__age-control {
  float: right;
  width: 44px;
  height: 44px;
  margin: 17px 1px 0 0;
  background: #fff;
  border-radius: 50%;
  font: 0.5238095238095238px "UbuntuLight", Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  color: #ff6600;
}
.hdr-menu {
  float: left;
}
.hdr-menu__list {
  margin: 0 0 0 19px;
  padding: 0;
  list-style: none;
}
.hdr-menu__item {
  display: inline-block;
  padding: 29px 3px 25px;
}
.hdr-menu__link {
  color: #333;
  padding: 4px 12px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.hdr-menu__link:hover {
  background-color: #f8f6e9;
  background-image: -webkit-linear-gradient(#ffffff, #f8f6e9);
  background-image: -moz-linear-gradient(#ffffff, #f8f6e9);
  background-image: linear-gradient(#ffffff, #f8f6e9);
  border-color: #e8e2d3;
  text-decoration: none;
}
.seach-bar {
  position: relative;
  clear: both;
  background: url('../imgs/search_bar.png') no-repeat;
  min-height: 112px;
  padding: 1px 0 0 237px;
}
.seach-bar__link {
  display: block;
  position: absolute;
  top: 13px;
  left: 10px;
  width: 130px;
  height: 90px;
  text-indent: -10000px;
}
.seach-bar__about {
  font: 14px 'Ubuntu', Arial, sans-serif;
  color: #cd8412;
  padding: 0;
  margin: 9px 9px 5px;
}
.seach-bar__add-org {
  display: inline-block;
  float: right;
  color: #ee2f03;
  margin: 2px 46px;
}
.seach-bar__add-org:hover {
  text-decoration: none;
}
.seach-form [name="seach-text"] {
  color: #999966;
  padding: 8px 30px 8px 15px;
  width: 675px;
  outline: none;
  border: 1px solid #df8d00;
  border-radius: 8px;
  line-height: 20px;
  -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.1);
}
.seach-form [name="seach-text"]:focus {
  color: #515151;
}
.seach-form [type="reset"] {
  position: relative;
  right: 29px;
  width: 16px;
  height: 15px;
  border: none;
  background: transparent;
  vertical-align: middle;
  outline: none;
}
.seach-form [type="reset"]::after,
.seach-form [type="reset"]::before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 12px;
  height: 3px;
  transition: 0.4s;
  background: #999999;
}
.seach-form [type="reset"]::after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.seach-form [type="reset"]::before {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.seach-form [type="reset"]:hover::after,
.seach-form [type="reset"]:hover::before {
  background: #000;
}
.seach-form [type="submit"] {
  padding: 6px 12px;
  color: #fff;
  background: #e81913;
  outline: none;
  border: 1px solid #d70000;
  border-radius: 4px;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(#f23e33, #e81a13);
  background-image: -moz-linear-gradient(#f23e33 #e81a13);
  background-image: linear-gradient(#f23e33, #e81a13);
  -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5);
}
.seach-form [type="submit"]:hover {
  background-image: none;
}
.seach-form [type="submit"]:active {
  -webkit-box-shadow: inset 0 3px 4px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 3px 4px -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 4px -1px rgba(0, 0, 0, 0.1);
}
.extra-info {
  float: right;
  list-style: none;
  margin: -4px 51px 0;
  padding: 0;
  color: #a29974;
}
.extra-info__item {
  display: inline-block;
  height: 30px;
  margin: 0 10px 0 9px;
  vertical-align: bottom;
  line-height: 30px;
}
.extra-info__weather-icon {
  display: inline-block;
  height: 30px;
  padding-left: 30px;
  background: url('../imgs/weather_icons.png') 0px -1px no-repeat;
}
.extra-info__weather-icon.weather-tomorrow {
  background-position: 0 -241px;
}
.page-main {
  max-width: 1087px;
  margin: 0 auto;
  padding-left: 32px;
}
.news {
  width: 800px;
  margin-bottom: 50px;
}
.news__h {
  margin: 17px 0 29px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e2ddcd;
  color: #333;
  font: 30px 'UbuntuLight', Arial, sans-serif;
  -webkit-box-shadow: 0 5px 20px -15px #333333;
  -moz-box-shadow: 0 5px 20px -15px #333333;
  box-shadow: 0 5px 20px -15px #333333;
}
.news__more {
  display: inline-block;
  clear: right;
  float: right;
  padding: 2px 10px;
  border: 1px solid #b8b8b8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #eae8e0;
  background-image: -webkit-linear-gradient(#fafafa, #eae8e0);
  background-image: -o-linear-gradient(#fafafa, #eae8e0);
  background-image: linear-gradient(#fafafa, #eae8e0);
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  color: #333;
}
.news__more:hover {
  background-image: none;
}
.news__more:active {
  -webkit-box-shadow: inset 0 3px 6px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 3px 6px -2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 6px -2px rgba(0, 0, 0, 0.3);
}
.news__info-visits {
  float: right;
  position: relative;
  padding-left: 25px;
  color: #a29974;
  font-size: 10px;
  line-height: 18px;
}
.news__info-visits::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url('../imgs/company_icons.png') -80px -20px no-repeat;
}
.news__info-visits span {
  display: none;
}
.news__info-date {
  color: #a29974;
}
.news-preview {
  float: left;
  max-width: 385px;
}
.news-preview__link-by-img {
  display: block;
  max-height: 215px;
  overflow: hidden;
  border: 1px solid #fff;
  margin-bottom: 9px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.news-preview__img {
  width: 100%;
}
.news-preview__h {
  font: 26px 'UbuntuLight', Arial, sans-serif;
  margin: 7px 0;
}
.news-preview__h-link {
  text-decoration: none;
  color: #333;
}
.news-preview__h-link:hover {
  text-decoration: underline;
}
.news-preview__short-about {
  margin: 10px 0;
}
.news-list {
  float: right;
  max-width: 385px;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 20px;
}
.news-list__short-about {
  margin: 2px 0;
}
.news-list__link {
  text-decoration: none;
  color: #333;
}
.news-list__link:hover {
  text-decoration: underline;
}
.news-list__item {
  padding-bottom: 9px;
  border-bottom: 1px solid #e2ddcd;
  margin-bottom: 10px;
}
.news-list .news__info-visits {
  top: 2px;
}
